@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Thin.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Thin.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Extralight.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Extralight.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Light.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Light.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Regular.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Regular.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Medium.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Medium.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Semibold.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Semibold.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Bold.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Bold.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik Arabic";
  src: url("../fonts/graphic/GraphikArabic-Black.woff2") format("woff2"), url("../fonts/graphic/GraphikArabic-Black.woff") format("woff"), url("../fonts/graphic/GraphikArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-style: normal;
  font-family: "Graphik Arabic";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.fixed-whatsapp {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0cc042;
}
.fixed-whatsapp .icon {
  font-size: 36px;
  color: #ffffff;
}

.totop-whatsapp-holder {
  display: flex;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  flex-direction: column;
  z-index: 50;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  z-index: 5;
}

.swiper-pagination-bullet {
  opacity: 0.302;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
}

.swiper-pagination-bullet-active {
  background-color: #f6c401;
  opacity: 1;
}

.swiper-parent {
  position: relative;
  z-index: 10;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

ul,
.ul-es {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin-bottom: 0;
}

a,
button {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a:hover,
button:hover {
  text-decoration: none;
}
a:focus,
button:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #221355;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.preloader {
  width: 100%;
  height: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  position: relative;
  overflow: hidden;
}

.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: #f6c401;
  animation: preloaderAnimation 3s infinite linear;
}

@keyframes preloaderAnimation {
  100% {
    left: 100%;
  }
}
.toTop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.toTop::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #f6c401;
  z-index: -1;
  transition: all linear 0.2s;
}
.toTop:hover::after {
  height: 100%;
}
.toTop:hover .toTop-icon {
  color: #221355;
}
.toTop .toTop-icon {
  font-size: 16px;
  color: #808080;
  transition: all linear 0.2s;
}

.showToTop {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-inline: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media only screen and (max-width: 767px) {
  .fixed-whatsapp {
    width: 50px;
    height: 50px;
  }
  .fixed-whatsapp .icon {
    font-size: 30px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .toTop .toTop-icon {
    font-size: 14px;
  }
  .toTop {
    width: 35px;
    height: 35px;
  }
  .totop-whatsapp-holder {
    z-index: 100;
  }
}
.video-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.video-wrapper .video {
  width: 100%;
  display: flex;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 19, 86, 0.502);
  z-index: 1;
}
.video-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.enter-btn-wrapper {
  margin-top: 40px;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}
.enter-btn-wrapper .enter-btn {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  position: relative;
  justify-content: center;
}
.enter-btn-wrapper .enter-btn:hover .enter-btn-active {
  opacity: 1;
  visibility: visible;
}
.enter-btn-wrapper .enter-btn .enter-btn-active {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 138px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}
.enter-btn-wrapper .enter-btn img {
  width: 138px;
  transition: all linear 0.1s;
}
.enter-btn-wrapper .text {
  font-size: 24px;
  color: #f6c401;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 1600px) {
  .logo-btn-wrapper {
    top: 37px;
  }
  .logo-btn-wrapper {
    gap: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .enter-btn-wrapper .enter-btn img,
  .enter-btn-wrapper .enter-btn .enter-btn-active {
    width: 90px;
  }
  .enter-btn-wrapper .text {
    font-size: 20px;
  }
}
.mainBanner {
  height: 100vh;
}

.mainBanner-parent {
  height: 100%;
  position: relative;
  transition: all linear 0.5s;
  z-index: 1;
  transition: background-size 30s ease;
}
.mainBanner-parent::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(34, 19, 85, 0.7) 0, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
.mainBanner-parent .mainbanner-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  transition: transform linear 30s;
}

.scroll-btn {
  position: absolute;
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-btn span {
  width: 24px;
  height: 45px;
  border-radius: 12px;
  border: 2px solid #ffffff;
  position: relative;
  display: inline-block;
  transition: all ease 0.3s;
}

.scroll-btn span::after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: #ffffff;
  top: 6px;
  opacity: 0;
  left: 48%;
  z-index: 3;
  position: absolute;
  transform: translateX(-48%);
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
  }
}
@media only screen and (max-width: 767px) {
  .mainBanner {
    height: 400px;
  }
}
.about {
  padding-top: 80px;
  padding-bottom: 95px;
}

.about-content .text {
  width: 942px;
  margin-inline: auto;
  font-size: 18px;
  line-height: 36px;
  color: #221355;
  text-align: center;
  margin-bottom: 55px;
}

.statistics {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  margin-inline: auto;
  flex-wrap: wrap;
}
.statistics .item {
  border-radius: 20px;
  padding-inline: 10px;
  background-color: #f6c401;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-block: 20px;
  height: 176px;
  width: 165px;
  gap: 15px;
  flex-direction: column;
}
.statistics .item .num {
  font-size: 48px;
  color: #221355;
  font-weight: 700;
}
.statistics .item .text {
  font-size: 18px;
  color: #221355;
  font-weight: 500;
  text-align: center;
}

html:not([dir=rtl]) .statistics .item .text {
  line-height: 1.4;
}

@media only screen and (max-width: 991px) {
  .about-content .text {
    width: 100%;
  }
  .statistics {
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .about {
    padding: 50px 0;
  }
  .about-content .text {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 40px;
  }
  .statistics {
    gap: 20px;
  }
  .statistics .item {
    gap: 10px;
  }
  .statistics .item .num {
    font-size: 30px;
  }
  .statistics .item .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .statistics .item {
    width: calc(50% - 10px);
    height: 140px;
  }
}
.services {
  background-image: url("../images/services-banner.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 115px;
}
.services .general-title {
  color: #fff;
}
.services .swiper-pagination {
  bottom: -50px;
}

.service-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.service-item .item-img-holder {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 361/226;
}
.service-item .item-img-holder:hover .service-img {
  transform: scale(1.1);
}
.service-item .item-img-holder .service-img {
  width: 100%;
  transition: all linear 0.2s;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-name {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  transition: all linear 0.2s;
}
.item-name:hover {
  color: #f6c401;
}

.guarantee-img-holder {
  position: relative;
}
.guarantee-img-holder::after {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 19, 85, 0.231);
  z-index: 1;
}
.guarantee-img-holder .guarantee-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 129px;
}

.services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 55px;
}

.services-page-section {
  padding-top: 80px;
  padding-bottom: 120px;
}
.services-page-section .item-name {
  color: #221355;
}
.services-page-section .item-name:hover {
  color: #f6c401;
}

@media only screen and (max-width: 991px) {
  .services-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .services-wrapper {
    grid-template-columns: 1fr;
    row-gap: 35px;
  }
  .services-page-section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .services {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .services .swiper-pagination {
    bottom: -40px;
  }
  .service-item {
    align-items: center;
  }
  .item-name {
    text-align: center;
  }
}
.licences {
  padding-top: 115px;
  padding-bottom: 135px;
}
.licences .general-title {
  margin-bottom: 70px;
}
.licences .general-title::after {
  display: none;
}

.licences-page-section {
  padding-top: 100px;
  padding-bottom: 170px;
}

.licences-page-section .img-wrapper,
.licences .img-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.licences-page-section .img-wrapper img,
.licences .img-wrapper img {
  max-width: 100%;
}

.licences .swiper-pagination {
  display: none;
}

.licences-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 30px;
}
.licences-wrapper .img-wrapper {
  width: calc(20% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .licences .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .licences .swiper-wrapper .swiper-slide {
    width: auto;
  }
}
@media only screen and (max-width: 1199px) {
  .licences-wrapper {
    justify-content: center;
  }
}
@media only screen and (max-width: 991px) {
  .licences .swiper-wrapper {
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 40px;
    justify-content: center;
  }
  .licences-wrapper .img-wrapper {
    width: calc(25% - 37.5px);
  }
  .licences-wrapper {
    gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .licences .general-title {
    margin-bottom: 40px;
  }
  html:not([dir=rtl]) .licences .general-title {
    line-height: 1.5;
  }
  .licences {
    padding-top: 60px;
    padding-bottom: 90px;
  }
  .licences-page-section {
    padding: 60px 0;
  }
  .licences .swiper-wrapper {
    align-items: center;
    gap: 0;
    justify-content: unset;
  }
  .licences .swiper-pagination {
    display: flex;
    bottom: -40px;
  }
  .licences .swiper-pagination-bullet {
    opacity: 0.302;
    background-color: #000;
  }
  .licences .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #f6c401;
  }
  .licences-wrapper {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 35px;
  }
  .licences-wrapper .img-wrapper {
    width: calc(50% - 15px);
  }
}
.aboutus {
  padding-top: 60px;
  padding-bottom: 95px;
}

.aboutus-content .img {
  position: relative;
  display: flex;
  margin-bottom: 70px;
}
.aboutus-content .about-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 442px;
}
.aboutus-content .desc {
  width: 751px;
  margin-inline: auto;
  font-size: 18px;
  line-height: 36px;
  color: #221355;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .aboutus-content .desc {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .aboutus-content .about-img {
    height: 200px;
  }
  .aboutus {
    padding: 50px 0;
  }
  .aboutus-content .desc {
    font-size: 16px;
    line-height: 1.8;
  }
  .aboutus-content .img {
    margin-bottom: 35px;
  }
}
.advantages {
  padding: 130px 0 120px 0;
}
.advantages .general-title {
  text-align: start;
  color: #221355;
  width: auto;
  margin-bottom: 45px;
  margin-inline: unset;
}
.advantages .general-title::after {
  display: none;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-question {
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  padding: 28px 0;
  cursor: pointer;
}

.main-question.active .title-wrapper .icon {
  transform: rotate(180deg);
}
.main-question.active .fa-plus:before {
  content: "\f068";
}

.title-text {
  font-size: 18px;
  color: #221355;
  font-weight: 700;
  text-align: start;
  transition: all ease-in-out 0.1s;
  margin: 0;
  cursor: pointer;
}

.title-wrapper .icon {
  font-size: 20px;
  margin-inline-start: auto;
  color: #221355;
  transition: all linear 0.2s;
}

.question-answer {
  font-size: 18px;
  line-height: 28px;
  color: #221355;
  line-height: 28px;
  text-align: start;
  padding-inline-end: 60px;
  margin-top: 10px;
  display: none;
  font-weight: 400;
}

.questions-parent {
  width: 555px;
}

@media only screen and (max-width: 991px) {
  .title-text {
    font-size: 16px;
  }
  .advantages-content {
    width: 100%;
  }
  .advantages .main-title {
    text-align: center;
  }
  .questions-parent {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .advantages .general-title {
    margin-bottom: 15px;
  }
  .main-question {
    padding: 20px 0;
  }
  .title-text {
    line-height: 1.6;
  }
  .advantages .main-title {
    margin-bottom: 20px;
  }
  .advantages {
    padding: 50px 0;
  }
  .question-answer {
    font-size: 15px;
    line-height: 1.8;
  }
  .question-answer {
    padding-inline-end: 40px;
  }
  html:not([dir=rtl]) .question-answer {
    line-height: 1.6;
  }
}
.annual-growth {
  background-image: url("../images/services-banner.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
}
.annual-growth .general-title {
  color: #fff;
  margin-bottom: 40px;
}
.annual-growth .general-title::after {
  display: none;
}
.annual-growth .swiper-pagination {
  display: none;
}
.annual-growth .swiper-button-prev,
.annual-growth .swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.annual-growth .swiper-button-prev:hover i,
.annual-growth .swiper-rtl .swiper-button-next:hover i,
.annual-growth .swiper-button-next:hover i,
.annual-growth .swiper-rtl .swiper-button-prev:hover i {
  color: #f6c401;
}
.annual-growth .swiper-button-prev i,
.annual-growth .swiper-rtl .swiper-button-next i,
.annual-growth .swiper-button-next i,
.annual-growth .swiper-rtl .swiper-button-prev i {
  transition: color linear 0.2s;
  font-size: 24px;
  color: #433376;
}
.annual-growth .swiper-button-prev,
.annual-growth .swiper-rtl .swiper-button-next {
  left: unset;
  right: -50px;
}
.annual-growth .swiper-button-next,
.annual-growth .swiper-rtl .swiper-button-prev {
  right: unset;
  left: -50px;
}

.growth-item {
  max-width: 165px;
  height: 176px;
  border-radius: 20px;
  background-color: #221355;
  border: 2px solid #392b66;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 27px;
}
.growth-item .num {
  font-size: 48px;
  line-height: 36px;
  color: #f6c401;
  font-weight: 700;
  text-align: center;
}
.growth-item .text {
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .growth-item {
    margin-inline: auto;
  }
  .annual-growth .swiper-button-prev,
  .annual-growth .swiper-button-next {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .growth-item .num {
    font-size: 30px;
    line-height: normal;
  }
  .growth-item {
    height: 140px;
    row-gap: 10px;
  }
  .growth-item .text {
    font-size: 16px;
  }
  .annual-growth {
    padding-top: 50px;
    padding-bottom: 90px;
  }
  .annual-growth .swiper-pagination {
    display: flex;
    bottom: -40px;
  }
  .annual-growth .general-title {
    margin-bottom: 25px;
  }
}
.priorities-content .general-title {
  text-align: start;
  font-size: 24px;
  margin-bottom: 45px;
  margin-top: 25px;
}
.priorities-content .general-title::after {
  bottom: -10px;
  left: unset;
  transform: unset;
  inset-inline-start: 0;
}

.priorities-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 130px;
       column-gap: 130px;
  row-gap: 10px;
}

.priorities-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.priorities-item .icon-circle {
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  border-radius: 50%;
  background-color: #f6c401;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priorities-item .icon-circle i {
  font-size: 24px;
  color: #221355;
}
.priorities-item .text {
  font-size: 18px;
  color: #221355;
  margin-bottom: 0;
}

html:not([dir=rtl]) .priorities-wrapper {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 1199px) {
  html:not([dir=rtl]) .priorities-item .text {
    line-height: 1.4;
  }
}

@media only screen and (max-width: 1199px) {
  .priorities-wrapper {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .priorities-content {
    width: 100%;
  }
  .priorities-wrapper {
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 15px;
  }
  .priorities-item {
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
  .priorities-item .icon-circle {
    width: 40px;
    height: 40px;
  }
  .priorities-item .icon-circle i {
    font-size: 20px;
  }
  .priorities-item .text {
    font-size: 16px;
  }
  .priorities-content .general-title {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 20px;
  }
}
.title-text-wrapper .general-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: start;
}
.title-text-wrapper .general-title::after {
  left: unset;
  inset-inline-start: 0;
  transform: unset;
  bottom: -15px;
}
.title-text-wrapper .text {
  width: 583px;
  font-size: 18px;
  line-height: 30px;
  color: #221355;
  text-transform: capitalize;
}

.title-text-wrapper:first-of-type {
  margin-bottom: 35px;
}

@media only screen and (max-width: 1199px) {
  .title-text-wrapper .text {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .title-text-wrapper .general-title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px;
  }
  .title-text-wrapper .general-title::after {
    inset-inline-start: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .title-text-wrapper .text {
    text-align: center;
    font-size: 16px;
  }
}
.service-details .item-name {
  color: #221355;
}
.service-details .item-name:hover {
  color: #f6c401;
}
.service-details .general-img-wrapper {
  margin-bottom: 30px;
}
.service-details .general-img-wrapper .img {
  width: 100%;
}
.service-details .details-content p {
  font-size: 18px;
  line-height: 30px;
  color: #221355;
  margin-bottom: 30px;
}
.service-details .order-service-btn {
  min-width: 210px;
  padding-inline: 30px;
  height: 55px;
  border-radius: 28px;
  background-color: #f6c401;
  font-size: 20px;
  color: #221355;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all linear 0.2s;
  margin-top: 10px;
}
.service-details .order-service-btn:hover {
  background-color: #221355;
  color: #f6c401;
}

.service-details-parent {
  display: grid;
  grid-template-columns: 706px 1fr;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.other-services {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.other-services .general-title {
  font-size: 24px;
  margin-bottom: 0;
  text-align: start;
}
.other-services .general-title::after {
  bottom: -10px;
  left: unset;
  line-height: 30px;
  transform: unset;
  inset-inline-start: 0;
}

@media only screen and (max-width: 1199px) {
  .service-details-parent {
    grid-template-columns: 530px 1fr;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media only screen and (max-width: 1199px) {
  .service-details-parent {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .service-details .details-content p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  .service-details .order-service-btn {
    display: flex;
    width: 100%;
    margin-inline: auto;
    margin-top: 30px;
  }
  .other-services {
    row-gap: 35px;
  }
  .other-services .general-title {
    text-align: center;
    font-size: 20px;
  }
  .other-services .general-title::after {
    inset-inline-start: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  html:not([dir=rtl]) .service-details .details-content p {
    line-height: 1.7;
  }
  .service-details-parent {
    row-gap: 45px;
  }
}
.partners {
  padding-top: 90px;
  padding-bottom: 120px;
}

.partners-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  flex-wrap: wrap;
  row-gap: 65px;
}
.partners-wrapper .img-wrapper {
  width: calc(16.6666666667% - 41.6666666667px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-wrapper .img-wrapper img {
  max-width: 100%;
}

.pagination-nav {
  margin-top: 75px;
}
.pagination-nav .pagination {
  justify-content: center;
  gap: 10px;
}
.pagination-nav .page-link {
  padding: 0;
  font-size: 20px;
  color: #808080;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50% !important;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-nav .active > .page-link, .pagination-nav .page-link.active {
  background-color: #221355;
  color: #f6c401;
}
.pagination-nav .page-link:focus {
  box-shadow: none;
}

@media only screen and (max-width: 991px) {
  .partners-wrapper .img-wrapper {
    width: calc(25% - 50px);
  }
  .partners-wrapper {
    justify-content: center;
    row-gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .partners-wrapper .img-wrapper {
    width: calc(50% - 17.5px);
  }
  .partners-wrapper {
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
  .partners {
    padding: 60px 0;
  }
}
.contact .contact-info {
  padding-top: 35px;
  padding-bottom: 60px;
  padding-inline: 30px;
  background-color: #221355;
}
.contact .contact-info .general-title {
  margin-bottom: 45px;
  font-size: 20px;
  color: #ffffff;
  line-height: normal;
  text-align: start;
}
.contact .contact-info .general-title::after {
  inset-inline-start: 0;
  transform: unset;
  bottom: -15px;
}
.contact .contact-methods {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.contact .contact-methods li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  line-height: 26px;
}
.contact .contact-methods li a {
  transition: color linear 0.2s;
  font-size: 18px;
  color: #ffffff;
}
.contact .contact-methods li a:hover {
  color: #f6c401;
}
.contact .contact-methods .icon {
  font-size: 22px;
  color: #f6c401;
}

.map-contact-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 458px;
  gap: 30px;
}
.map-contact-wrapper .map iframe {
  width: 100%;
  height: 300px;
}

.contact-social {
  display: flex;
  align-items: center;
  gap: 25px;
}
.contact-social a {
  display: flex;
}
.contact-social a:hover .icon {
  color: #f6c401;
}
.contact-social .icon {
  transition: color linear 0.2s;
  font-size: 22px;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .contact .contact-methods li a {
    font-size: 16px;
  }
  .contact .contact-methods .icon {
    font-size: 20px;
  }
  .contact .contact-info .general-title::after {
    bottom: -10px;
  }
  html:not([dir=rtl]) .contact .contact-methods li a {
    line-height: 1.5;
  }
}
.products {
  padding-top: 60px;
  padding-bottom: 115px;
}
.products .item {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 50%);
          clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 50%);
  transform-origin: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.products .item .text {
  top: 31%;
  right: 7%;
  font-size: 30px;
  position: absolute;
  font-weight: 700;
  display: block;
  font-weight: 700;
  text-align: center;
  color: #fff;
  max-width: 172px;
}
.products .item:nth-of-type(even) {
  background-color: #f6c401;
}
.products .item:nth-of-type(odd) {
  background-color: #221355;
}
.products .item-1 {
  transform: rotate(45deg);
}
.products .item-1 .text {
  top: 34%;
  right: 7%;
  transform: rotate(-45deg);
  max-width: 200px;
}
.products .item-2 {
  transform: rotate(90deg);
}
.products .item-2 .text {
  transform: rotate(-90deg);
}
.products .item-3 {
  transform: rotate(135deg);
}
.products .item-3 .text {
  transform: rotate(-135deg);
}
.products .item-4 {
  transform: rotate(180deg);
}
.products .item-4 .text {
  transform: rotate(-180deg);
}
.products .item-5 {
  transform: rotate(225deg);
}
.products .item-5 .text {
  transform: rotate(-225deg);
}
.products .item-6 {
  transform: rotate(270deg);
}
.products .item-6 .text {
  transform: rotate(-270deg);
}
.products .item-7 {
  transform: rotate(315deg);
}
.products .item-7 .text {
  transform: rotate(-315deg);
}
.products .item-8 {
  transform: rotate(360deg);
}
.products .item-8 .text {
  transform: rotate(-360deg);
  top: 28%;
}
.products .circle-wrapper {
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  width: 750px;
  height: 750px;
  background-color: #d8d8d8;
  border-radius: 50%;
}
.products .circle-wrapper .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 219px;
  height: 219px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .circle-wrapper .overlay img {
  width: 183px;
}
.products .circle-wrapper .overlay::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 272px;
  height: 272px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.products .circle-wrapper .overlay .logo {
  width: 183px;
}

html:not([dir=rtl]) .products .item .text {
  line-height: 1.25;
}
html:not([dir=rtl]) .products .item-8 .text {
  top: 32%;
}
html:not([dir=rtl]) .products .item-6 .text {
  top: 29%;
}
html:not([dir=rtl]) .products .item-1 .text {
  top: 30%;
  right: 6%;
}
html:not([dir=rtl]) .products .item-2 .text {
  top: 33%;
}
html:not([dir=rtl]) .products .item-3 .text {
  top: 32%;
  right: 5%;
}

@media only screen and (max-width: 991px) {
  .products .circle-wrapper {
    width: 600px;
    height: 600px;
  }
  .products .item .text {
    font-size: 20px;
  }
  .products .item-8 .text {
    top: 30%;
    right: 3%;
  }
  .products .item-3 .text {
    top: 35%;
  }
  .products .item-7 .text {
    top: 36%;
  }
}
@media only screen and (max-width: 767px) {
  .products .circle-wrapper {
    width: 350px;
    height: 350px;
  }
  .products .circle-wrapper .overlay {
    width: 110px;
    height: 110px;
  }
  .products .circle-wrapper .overlay img {
    width: 80px;
  }
  .products .circle-wrapper .overlay::after {
    width: 140px;
    height: 140px;
  }
  .products .item .text {
    top: 29%;
    font-size: 16px;
    max-width: 90px;
  }
  .products .item-8 .text {
    top: 25%;
  }
  .products .item-4 .text {
    top: 31%;
  }
  .products .item-4 .text,
  .products .item-3 .text {
    right: 4%;
  }
  .products {
    padding: 60px 0;
  }
  .products .container {
    padding: 0;
  }
  html:not([dir=rtl]) .products .item-7 .text {
    right: 4%;
    top: 31%;
  }
  html:not([dir=rtl]) .products .item .text {
    font-size: 15px;
    max-width: 85px;
  }
  html:not([dir=rtl]) .products .item-8 .text {
    right: 5%;
  }
}
.breadcrumb {
  align-items: center;
}

.breadcrumb-sec {
  padding-block: 41px;
  background-color: #221355;
}

.breadcrumb-head {
  font-size: 24px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.breadcrumb {
  justify-content: center;
  margin-bottom: 0;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumb-item a {
  font-size: 14px;
  color: #9487c4;
  transition: color linear 0.2s;
  text-transform: capitalize;
}
.breadcrumb-item a:hover {
  color: #f6c401;
}
.breadcrumb-item.active {
  padding-inline-start: 10px;
  font-size: 14px;
  color: #9487c4;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #9487c4;
  padding-inline-end: 10px;
}

@media only screen and (max-width: 767px) {
  .breadcrumb-sec {
    padding-block: 25px;
  }
  .breadcrumb-head {
    font-size: 20px;
  }
}
.header {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 45px;
  z-index: 2;
  transform: translateX(-50%);
}

.header-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

html:not([dir=rtl]) .language.english {
  flex-direction: row;
}
html:not([dir=rtl]) .header-content {
  flex-direction: row-reverse;
}
html:not([dir=rtl]) .arabic {
  flex-direction: row-reverse;
}

.language {
  display: flex;
  align-items: center;
  gap: 6px;
}
.language:hover span {
  color: #f6c401;
}
.language span {
  font-size: 14px;
  color: #ffffff;
  transition: color linear 0.2s;
}
.language img {
  width: 23px;
}
.language.english {
  flex-direction: row-reverse;
}
.language.arabic {
  flex-direction: row;
}

.navigation {
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  display: flex;
  align-items: center;
}
.navigation .big-menu {
  padding: 15px;
  background-color: rgba(34, 19, 85, 0.702);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.logo {
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
}
.logo img {
  width: 218px;
}

.big-menu li a,
.sub-menu li a {
  text-transform: capitalize;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 50px;
  font-size: 14px;
  color: #221355;
  font-weight: 500;
  white-space: wrap;
  text-align: center;
  transition: all linear 0.2s;
  border-radius: 7px;
  background-color: #f6c401;
}
.big-menu li a:hover,
.sub-menu li a:hover {
  background-color: #221355;
  color: #f6c401 !important;
}

.sub-menu li a {
  width: auto;
  padding-inline: 15px;
}

.menu-item-has-children .sub-menu {
  position: fixed;
  padding-inline: 20px;
  padding-top: 200px;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  width: 100vw;
  justify-content: center;
  z-index: 30;
  flex-wrap: wrap;
  height: 100vh;
  background-color: rgba(34, 19, 85, 0.9);
  display: flex;
  align-items: flex-start;
  transition: all linear 0.1s;
  gap: 20px;
}
.menu-item-has-children .sub-menu::after {
  content: "\f00d";
  font-family: "Font Awesome 6 Pro";
  color: #f6c401;
  font-size: 25px;
  position: absolute;
  top: 30px;
  z-index: 2;
  display: none;
  cursor: pointer;
}

.ar-navigation {
  right: 0;
}
.ar-navigation .menu-item-has-children .sub-menu::after {
  left: 50px;
}
.ar-navigation .big-menu {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.en-navigation {
  left: 0;
}
.en-navigation .menu-item-has-children .sub-menu::after {
  right: 50px;
}
.en-navigation .big-menu {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.show-submenu .menu-item-has-children .sub-menu {
  opacity: 1;
  visibility: visible;
}
.show-submenu .menu-item-has-children .sub-menu::after {
  display: block;
}

.reset-en-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.reset-ar-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

html:not([dir=rtl]) .reset-en-navigation {
  justify-content: flex-start;
}
html:not([dir=rtl]) .reset-ar-navigation {
  justify-content: flex-end;
}

.reset-ar-navigation {
  width: 100%;
}

.low-zIndex {
  z-index: 5;
}

.index-logo {
  top: 10px;
}

.index-header {
  z-index: 20;
}
.index-header .language img {
  width: 28px;
}
.index-header .language span {
  font-size: 18px;
}
.index-header .logo img {
  width: 250px;
}

@media only screen and (min-width: 1400px) {
  .header .container {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 768px) {
  .open-nav-btn {
    display: none;
  }
  .close-nav-btn {
    display: none;
  }
  .logo-light {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .index-header .logo img {
    width: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .logo-light {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
  }
  .open-nav-btn {
    display: flex;
    order: 3;
  }
  .open-nav-btn .icon {
    font-size: 22px;
    color: #fff;
  }
  .header {
    transition: all linear 0.3s;
    top: 0px;
    position: fixed;
  }
  .header .header-content {
    padding: 35px 0;
    transition: all linear 0.2s;
  }
  .language {
    display: flex;
  }
  .navigation {
    display: flex;
  }
  .arabic {
    display: none;
  }
  .ar-navigation {
    display: flex;
  }
  .en-navigation {
    display: none;
  }
  html:not([dir=rtl]) .arabic {
    display: flex;
  }
  html:not([dir=rtl]) .index-header .arabic {
    display: flex;
  }
  html:not([dir=rtl]) .english {
    display: none;
  }
  html:not([dir=rtl]) .index-header .english {
    display: flex;
  }
  html:not([dir=rtl]) .en-navigation {
    display: flex;
  }
  html:not([dir=rtl]) .ar-navigation {
    display: none;
  }
  .english,
  .arabic {
    order: 1;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
    top: unset;
  }
  .logo img {
    width: 90px;
  }
  .navigation {
    inset: 0;
    position: fixed;
    padding: 20px;
    top: 0;
    border-radius: 0;
    transform: translateY(-20px);
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    transition: all linear 0.2s;
  }
  .open-navigation {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .upper-cont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .index-header .arabic {
    display: flex;
  }
  .index-header .open-nav-btn {
    display: none;
  }
  .index-header .logo img {
    width: 90px;
  }
  .index-header .language span {
    font-size: 16px;
  }
  .index-header .language img {
    width: 25px;
  }
  .close-nav-btn {
    display: flex;
  }
  .close-nav-btn .icon {
    font-size: 25px;
    color: #221355;
  }
  .navigation .big-menu {
    margin-top: 60px;
    background-color: transparent;
    padding: 0;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  .big-menu li a,
  .sub-menu li a {
    padding: 0;
    width: auto;
    height: unset;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    justify-content: flex-start;
  }
  .sub-menu li a {
    font-size: 14px;
  }
  .big-menu li a:hover,
  .sub-menu li a:hover {
    background-color: transparent;
  }
  .menu-item-has-children .sub-menu {
    position: static;
    transition: unset;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    inset: unset;
    width: -moz-max-content;
    width: max-content;
    height: unset;
    padding: 0;
    padding-top: 20px;
    display: none;
  }
  .menu-item-has-children .sub-menu li {
    margin-bottom: 15px;
  }
  .big-menu .menu-item-has-children {
    width: 100%;
  }
  .big-menu .menu-item-has-children > a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .big-menu .menu-item-has-children > a::after {
    content: "\f078";
    color: #221355;
    font-size: 14px;
    font-family: "Font Awesome 6 Pro";
    transition: all linear 0.2s;
  }
  .icon-rotate::after {
    transform: rotate(180deg);
  }
  .fixed-header {
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid rgba(212, 212, 212, 0.9);
  }
  .fixed-header .logo img {
    opacity: 0;
    visibility: hidden;
  }
  .fixed-header .logo .logo-light {
    opacity: 1;
    visibility: visible;
  }
  .fixed-header .logo img {
    width: 80px;
  }
  .fixed-header .header-content {
    padding: 25px 0;
  }
  .fixed-header .header-content .open-nav-btn .icon {
    color: #221355;
  }
  .fixed-header .header-content .language span {
    color: #221355;
  }
  .fixed-header .header-content .language span:hover {
    color: #f6c401;
  }
  .index-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html:not([dir=rtl]) .header-content {
    flex-direction: row;
  }
  html:not([dir=rtl]) .index-header .header-content {
    flex-direction: row-reverse;
  }
}
.footer {
  padding: 80px 0 90px 0;
  background-color: #221355;
}
.footer .footer-title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-info img {
  width: 96px;
}

.quick-links ul li {
  margin-bottom: 10px;
}
.quick-links ul li a {
  font-size: 14px;
  color: #9487c4;
  font-weight: 400;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.quick-links ul li a:hover {
  color: #f6c401;
}
.quick-links ul li a:focus {
  text-decoration: none;
}
.quick-links ul li a:active {
  text-decoration: none;
}

.newsletter .newsletter-text {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 17px;
}

.message {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
}
.message .send {
  min-width: 80px;
  text-transform: capitalize;
  padding-inline: 15px;
  height: 28px;
  border-radius: 14px;
  background-color: #f6c401;
  font-size: 14px;
  color: #221355;
  font-weight: 700;
  position: absolute;
  inset-inline-end: 7px;
  transform: translateY(-50%);
  top: 50%;
  transition: all linear 0.2s;
  overflow: hidden;
}
.message .send:hover {
  background-color: #221355;
  color: #fff;
}
.message input {
  width: 360px;
  height: 40px;
  border-radius: 20px;
  background-color: #f2f2f2;
  transition: all linear 0.3s;
  max-width: 100%;
  outline: none;
  border: none;
  color: #000;
  padding-inline-start: 20px;
  padding-inline-end: 100px;
  font-size: 14px;
  font-weight: 400;
}
.message input::-webkit-input-placeholder {
  font-size: 12px;
  color: #221355;
}

.footer-social {
  width: 100%;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
}
.footer-social a {
  display: flex;
}
.footer-social a:hover .icon {
  color: #f6c401;
}
.footer-social .icon {
  font-size: 22px;
  color: #6e5fa1;
  transition: all linear 0.2s;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 45px;
}
.copyright .copyright-text,
.copyright .tasawk-text {
  margin: 0;
  font-size: 12px;
  color: #fff;
}
.copyright .tasawk-text {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

@media only screen and (min-width: 768px) {
  .lower-copyright {
    display: none;
  }
  .footer-item {
    margin-top: 8px;
  }
  .img-item {
    margin-top: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .footer-items {
    flex-wrap: wrap;
  }
  .footer-item {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-info {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .footer-item {
    min-width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .newsletter-item {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .upper-copyright {
    display: none;
  }
  .copyright {
    flex-direction: column;
    row-gap: 8px;
    margin-top: 30px;
    align-items: center;
  }
  .footer-item {
    align-items: flex-start;
  }
  .footer-items {
    flex-direction: column;
  }
  .footer-items .img-item {
    margin: 0 auto 40px auto;
  }
  .footer-items .footer-item {
    width: 100%;
  }
  .newsletter .newsletter-text {
    margin-top: 5px;
    text-align: center;
  }
  .quick-links,
  .nested,
  .newsletter {
    width: 100%;
  }
  .social {
    justify-content: center;
  }
  .newsletter,
  .quick-links {
    padding-bottom: 25px;
  }
  .quick-links ul,
  .nested {
    padding-top: 12px;
  }
  .footer {
    padding: 50px 0 40px 0;
  }
  .quick-drop,
  .newsletter .nested {
    display: none;
  }
  .message {
    width: 100%;
  }
  .message input {
    width: 100%;
  }
  html:not([dir=rtl]) .message input {
    padding-inline-end: 110px;
  }
  .footer .footer-title {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .footer-title::after {
    font-size: 14px;
    content: "\f078";
    transition: all linear 0.3s;
    font-family: "Font Awesome 6 Pro";
    position: relative;
  }
  .logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow-rotate::after {
    transform: rotate(180deg);
  }
  .quick-links ul li {
    margin-bottom: 12px;
  }
  .quick-links ul li a {
    font-size: 14px;
    line-height: normal;
  }
}
.index-language {
  top: 55px;
}

@media only screen and (max-width: 767px) {
  .index-language {
    top: 30px;
  }
}
.general-img-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.general-img-wrapper .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 458px;
}

@media only screen and (max-width: 1199px) {
  .general-img-wrapper .img {
    width: 400px;
  }
  html:not([dir=rtl]) .general-img-wrapper .img {
    width: 350px;
  }
}
@media only screen and (max-width: 767px) {
  .general-img-wrapper {
    width: 100%;
    justify-content: center;
  }
  .general-img-wrapper .img {
    width: 100%;
    height: 250px;
  }
  html:not([dir=rtl]) .general-img-wrapper .img {
    width: 100%;
  }
}
.general-padding {
  padding-top: 60px;
  padding-bottom: 120px;
}

@media only screen and (max-width: 767px) {
  .general-padding {
    padding: 50px 0;
  }
}
.general-title {
  font-size: 36px;
  line-height: 40px;
  color: #221355;
  font-weight: 700;
  text-align: center;
  position: relative;
  margin-bottom: 55px;
}
.general-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  background-color: #f6c401;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 991px) {
  .general-title {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .general-title {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 35px;
  }
  .general-title::after {
    bottom: -10px;
  }
  html:not([dir=rtl]) .general-title {
    line-height: 1.5;
  }
}
.general-parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 1199px) {
  .general-parent {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .general-parent {
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
  }
  .advantages .general-parent {
    row-gap: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .advantages-parent {
    row-gap: 40px;
  }
}
.logo-badge-sm,
.logo-badge-lg {
  position: absolute;
  z-index: 1;
}

.logo-badge-sm {
  width: 40px;
  bottom: 15px;
  left: 15px;
}

.logo-badge-lg {
  width: 78px;
  bottom: 25px;
  left: 25px;
}

@media only screen and (max-width: 767px) {
  .logo-badge-lg {
    width: 50px;
    bottom: 15px;
    left: 15px;
  }
}
.general-form-content {
  width: 555px;
}
.general-form-content .form > div {
  margin-bottom: 20px;
}
.general-form-content .general-title {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 50px;
  text-align: start;
}
.general-form-content .general-title::after {
  left: unset;
  inset-inline-start: 0;
  transform: unset;
  bottom: -15px;
}
.general-form-content .form-label {
  text-transform: capitalize;
  font-size: 16px;
  color: #221355;
  font-weight: 700;
  margin-bottom: 8px;
  display: inline-block;
  padding-inline-start: 25px;
}
.general-form-content .form-label::after {
  content: "*";
  color: #ff0000;
}
.general-form-content .form-control, .general-form-content .form-select {
  padding-inline: 23px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border: 1px solid transparent;
  font-size: 16px;
  color: #221355;
  background-image: none;
}
.general-form-content .form-control:focus, .general-form-content .form-select:focus {
  border-color: #221355;
  box-shadow: none;
}
.general-form-content .form-select {
  cursor: pointer;
}
.general-form-content .select-wrapper {
  position: relative;
}
.general-form-content .select-wrapper::after {
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  color: #221355;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 30px;
  z-index: 1;
  transition: all linear 0.2s;
}
.general-form-content .select-wrapper:focus-within::after {
  transform: translateY(-50%) rotate(180deg);
}
.general-form-content textarea.form-control {
  height: 100px;
  resize: none;
  padding-top: 15px;
}
.general-form-content .submit-btn {
  font-size: 18px;
  color: #221355;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 150px;
  display: flex;
  padding-inline: 25px;
  height: 50px;
  border-radius: 25px;
  background-color: #f6c401;
  transition: all linear 0.2s;
  margin-inline-start: auto;
  text-transform: capitalize;
}
.general-form-content .submit-btn:hover {
  background-color: #221355;
  color: #f6c401;
}

@media only screen and (max-width: 1199px) {
  .general-form-content {
    width: 480px;
  }
}
@media only screen and (max-width: 767px) {
  .general-form-content {
    width: 100%;
  }
  .general-form-content .general-title {
    text-align: center;
  }
  .general-form-content .general-title::after {
    inset-inline-start: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .general-form-content .submit-btn {
    margin-inline-start: unset;
    width: 100%;
  }
  .general-form-content .select-wrapper::after {
    inset-inline-end: 25px;
  }
}
.inner-page {
  padding-top: 105px;
}
.inner-page .language span {
  color: #221355;
}
.inner-page .language span:hover {
  color: #f6c401;
}
.inner-page .logo {
  position: static;
  transform: unset;
}
.inner-page .logo img {
  width: 109px;
}
.inner-page .logo-dark {
  display: none;
}
@media only screen and (min-width: 768px) {
  .inner-page .logo-light {
    display: block;
  }
}
.inner-page .header {
  top: 0;
}
.inner-page .header-content {
  padding: 15px 0;
}

@media only screen and (max-width: 767px) {
  .inner-page {
    padding-top: 93px;
  }
  .inner-page .open-nav-btn .icon {
    color: #221355;
  }
  .inner-page .header-content {
    padding: 35px 0;
  }
  .inner-page .logo {
    position: absolute;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
    order: 2;
  }
  .inner-page .logo img {
    width: 90px;
    position: static;
  }
  .inner-page .logo-light {
    inset: unset;
    opacity: 1;
    visibility: visible;
  }
  .inner-page .fixed-header .logo img {
    width: 80px;
  }
  .inner-page .fixed-header .header-content {
    padding: 25px 0;
  }
}/*# sourceMappingURL=main.css.map */