.licences {
  padding-top: 115px;
  padding-bottom: 135px;
  .general-title {
    margin-bottom: 70px;
    &::after {
      display: none;
    }
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

@include min-768 {
  .licences {
    .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .swiper-slide {
        width: auto;
      }
    }
  }
}

@include max-768{
    .licences .general-title{
        margin-bottom: 40px;
    }
    html:not([dir="rtl"]){
      .licences .general-title{
        line-height: 1.5;
      }
    }
    .licences{
        padding-top: 60px;
        padding-bottom: 90px;
        .swiper-wrapper{
            align-items: center;
        }
        .swiper-pagination{
            display: flex;
            bottom: -40px;
        }
        .swiper-pagination-bullet{
            opacity: 0.302;
            background-color: #000;
        }
         .swiper-pagination-bullet-active{
            opacity: 1;
            background-color: $yellow-color;
        }
    }
}
